Options -Indexes

RewriteEngine On

# Redirect /index and /index.html to root
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index(\.html)?\s [NC]
RewriteRule ^ / [R=301,L]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Redirect .html URLs to clean URLs
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R=301]
